<div class="container border row" style="background-color: lightgray;">
    <h1 class="text-center col-8">Bienvenido {{usuario}}</h1>
    <button class="col-3" onclick="location.href = 'logout';">Desloguear</button>
</div>